---
const props = Astro.props;
---

<div
	class='not-prose w-full my-10 overflow-hidden rounded-xl border border-gray-200 shadow-sm bg-white'
>
	<div class='overflow-x-auto'>
		<table
			{...props}
			class="w-full text-left border-collapse
      /* 1. HEADER STYLES (Slate 900 Background) */
      [&_thead]:bg-slate-900
      [&_th]:text-white
      [&_th]:font-bold
      [&_th]:uppercase
      [&_th]:text-xs
      [&_th]:tracking-wider
      [&_th]:py-4
      [&_th]:px-6
      [&_th]:border-none
      /* 2. BODY ROW STYLES (Zebra Striping) */
      [&_tbody_tr]:border-b
      [&_tbody_tr]:border-gray-100
      [&_tbody_tr:last-child]:border-0
      [&_tbody_tr:nth-child(even)]:bg-slate-50
      [&_tbody_tr:hover]:bg-blue-50
      /* 3. CELL STYLES (Force Padding to fix 'Squashed' look) */
      /* Note: We use !px-6 to force left-padding back on the first column */
      [&_td]:!px-6
      [&_td]:!py-4
      [&_td]:text-sm
      [&_td]:text-slate-600
      [&_td]:font-medium
      [&_td]:whitespace-nowrap"
		>
			<slot />
		</table>
	</div>
</div>
